Reset Password For User: {{data.User_Name}}<div class="body">
    <form
      class="form-auth-small"
      #resetPasswordForm="ngForm"
      (ngSubmit)="onSubmit(resetPasswordForm.value)"
    >
      
      <div class="form-group">
        <label for="new-password" class="control-label sr-only"
          >new password</label
        >
        <input
          type="password"
          class="form-control"
          id="new-password"
          placeholder="new Password"
          ngModel
          name="new_password"
          #new_password="ngModel"
          required
        />
        <div
        *ngIf="new_password.touched && new_password.invalid"
        class="alert alert-danger"
      >
        new password is required.
      </div>
        <label for="confirm-password" class="control-label sr-only"
        >confirm password</label
      >
      <input
        type="password"
        class="form-control"
        id="confirm-password"
        placeholder="confirm Password"
        ngModel
        name="confirm_password"
        #confirm_password="ngModel"
        required
      />
      </div>
      <div
        *ngIf="confirm_password.touched && confirm_password.invalid"
        class="alert alert-danger"
      >
        confirm password is required.
      </div>
      <div
        *ngIf="!isMatched"
        class="alert alert-danger"
      >
        New and Confirm passwords don't match.
      </div>
      <button
        [disabled]="resetPasswordForm.invalid"
        type="submit"
        class="btn btn-primary btn-lg btn-block"
      >
        Reset Password
      </button>
    </form>
  </div>