<h2 mat-dialog-title>{{ title }}</h2>
<form [formGroup]="categoryService.form" (ngSubmit)="onSubmit()">
  <mat-dialog-content>
    <mat-form-field>
      <input matInput placeholder="Category Name*" formControlName="Category_Name" />
      <mat-error>Please enter a Category Name</mat-error>
    </mat-form-field>
    <mat-divider></mat-divider>
    <mat-form-field>
      <input
        matInput
        placeholder="Description"
        formControlName="Category_Description"
      />
      <mat-error>Please enter a Description </mat-error>
    </mat-form-field>
    <mat-divider></mat-divider>
    <mat-slide-toggle
      *ngIf="title.includes('Edit')"
      matInput
      formControlName="Category_IsActive"
    >
      Category Status</mat-slide-toggle
    >
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-raised-button color="warn" (click)="onClear()">Clear</button>
    <button
      mat-raised-button
      mat-primary
      type="submit"
      [disabled]="categoryService.form.invalid"
    >
      Submit
    </button>
  </mat-dialog-actions>
</form>
