.rxp-permission-container {
    padding-left: 25px;
}
.rxp-permission-group-row {
    margin-top: 10px;
    margin-bottom: 15px;
    padding-bottom: 30px;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: #f3f3f3;
}
.rxp-permission-check {
    padding: 10px;
}
.rxp-permission-check  .mat-slide-toggle-content{
    margin-left: 12px;
}
.rxp-permission-section-header{
    color: #d2d2d2;
    font-size: 30px;
}
.mat-expansion-panel{
    box-shadow: none !important;
    border-style: solid;
    border-color: #f3f3f3;
    border-width: 1px;
    border-bottom: none;
}
.mat-expansion-panel:last-child{
    border-bottom-style: solid !important;
    border-bottom-color: #f3f3f3 !important;
    border-bottom-width: 1px !important;
}

